@accountmenu: accountmenu;

.accountmenu-settings() {

}

.@{accountmenu} {
    //background: rgba(255, 255, 255, 0.97);

    &-username {
        display: block;
        font-size: 16px;
        font-weight: bold;
    }

    &-accountmenu-email {
        display: block;
        font-size: 12px;
    }

    &-separator {
        margin: 10px 0;
        border: none;
        border-top: 1px solid #F1F1F1;
    }

    &-footer {
        margin: 5px 0;
    }

    .accountmenu-settings();
}
