.carousel-default {

    .carousel-control {
        background-image: none;

        .i {
            position: absolute;
            top: 50%;
            margin-top: -25px;
            width: 50px;
            height: 50px;

            @media (max-width: @screen-xs-max) {
                width: 25px;
                height: 25px;
                margin-top: -12px;
            }
        }

    }

    .carousel-control.left {
        text-align: left;

        .i {
            left: 0;
        }
    }

    .carousel-control.right {
        text-align: right;

        .i {
            right: 0;
        }
    }

    .carousel-indicators li {
        margin: 5px;
        width: 25px;
        height: 25px;
        border-width: 4px;
        border-radius: 50%;
        background: rgba(255,255,255,0.5);
        border-color: transparent;

        &.active {
            margin: 5px;
            background-color: #fff;
            background-clip: content-box;
            border-color: rgba(255,255,255,0.5);
        }
    }

    .carousel-inner > .item {
        padding: 20px 80px 70px;
    }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: inline-block;
}

@media (max-width: @screen-xs-max) {
    .carousel-indicators {
        bottom: 0;
    }
}

.carousel-indicators-content {
    position: static;
    margin-left: 0;
    width: auto;
    background: fade(@paper, 20%);
    padding: 5px 0;

    &.carousel-indicators li {
        width: auto;
        height: auto;
        border: none;
        background: none;
        text-indent: 0;
        color: fade(@ink, 50%);

        &:hover,
        &:focus,
        &.active {
            background: none;
            border: none;
            color: @ink;
        }
    }

    li:not(:last-child):after {
        content: '|';
        display: inline-block;
        margin: 0 0 0 15px;
        color: fade(@ink, 50%);
    }
}


#call-me-promo {
    width: 400px;
    margin: auto;

    .carousel-inner {

        > .item {
            padding: 0;
            text-align: center;

            .item--text {
                padding: 40px 50px 20px;
                font-size: 16px;
                line-height: 1.25;

                p {
                    padding: 5px 0;
                    margin: 0;
                }
            }
        }
    }

    .carousel-control {
        top: 250px;
        width: 40px;
    }

    @media (max-width: @screen-md-min) {
        padding-top: @grid-gutter-width;
        width: 100%;

        .item {
            .item--text {
                padding: 20px 50px 10px;
            }
        }

        .carousel-control {
            top: 0;
            width: 40px;
            margin-top: -20px;
        }
    }

    @media (max-width: @screen-xs-max) {
        padding-top: @grid-gutter-width;
        width: 100%;

        .item {
            .item--text {
                padding: 20px 50px 10px;
            }
        }

        .carousel-control {
            top: 0;
            width: 15%;
            margin-top: -20px;
        }
    }
}
