/* layout */

html,
body {
  height: 100%;
}

@media (max-width: 480px) {

    /* fix min width of the page to 480px */

    /*html,
    body {
        min-width: 480px;
    }*/

}

/* address IE8. TODO: make .no-mediaqueries  */
.no-svg .container {
    width: 970px;
}

/* offcanvas menu */

/* 1 - smaller bg for modern browsers */

.allpage {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    background-color: #EEE;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url(../img/bg.jpg);
    background-image: url(../img/bg-d3.jpg), none; /* 1 */
    background-size: cover;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.allpage--body > .container:first-child {
    padding-top: 160px;
}

@media (max-width: @screen-xs-max) {

    .allpage {
        background-attachment: scroll;
        background-size: 200% auto;
        background-position: 50% 0;
    }

    .allpage--body > .container:first-child {
        padding-top: 50px;
    }

}

@media (min-width: @screen-md-min) {
    .allpage--footer {
        margin-top: @line-height-computed;
    }
}

.offcanvas-menu {
    z-index: 1;
    opacity: 0;
}

.offcanvas-menu.in {
    opacity: 1;
}

/* increasing specifity for allpage--header*/
.canvas-sliding,
.canvas-sliding.allpage--header.allpage--header {
    transition-timing-function: ease-in-out;
}
/* offcanvas menu end */

/* sticky footer */
.flexbox,
.flexbox body,
.flexbox .allpage {
    min-height: 100vh;
}

.flexbox .allpage {
    display: flex;
    flex-direction: column;
}

.flexbox .allpage--body {
    flex-grow: 1;
}
/* sticky footer end */

.svg-list {
    padding: 0;
    margin: 0 30px;
    list-style: none;

    .svg-list--item {
        display: block;
        margin: 0;
        padding:  20px 0 20px 62px;
        position: relative;
        list-style: none;
        color: @ink;
        font-size: 30px;
        line-height: 1.25;
        font-weight: bold;

        &:after {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            background-image: url("../icons/icons-sprite.svg");
            background-position: -3894px 0;
            position: absolute;
            top: 26px;
            left: 0;
        }
    }

    @media (max-width: @screen-sm) {
        margin: 0;
    }
}

/* benefits */
.benefits {
    margin: @line-height-computed auto; //20px auto
    border-radius: @border-radius-large;
    //background: #fff;
}

.benefits-type-services {
    .clearfix;
    margin: @line-height-computed -((@grid-gutter-width / 2));
    display: table;

    .benefits--block {
        display: table-cell;
        width: 33.33%;
        height: 100%;
        padding: 55px 35px 25px;
        background-color: fade(@paper, 20%);
        background-clip: padding-box;
        border: ((@grid-gutter-width / 2)) transparent solid;
        border-radius: (((@grid-gutter-width / 2)) + 5);
        position: relative;

        a {
            font-weight: bold;
        }

        .plate {
            height: 58px;
            width: 58px;
            padding: 0;
            margin-left: -29px;
            position: absolute;
            top: -29px;
            left: 50%;
            border: 5px #fff solid;
            border-radius: 50%;
            background-clip: padding-box;
            overflow: hidden;

            .i {
                width: 52px;
                height: 52px;
                margin: -2px 0 0 -2px;
            }
        }
    }
}

.benefits-type-visa-account {
    .clearfix;
    margin: 0 -((@grid-gutter-width / 2));
    display: table;

    .benefits--block {
        display: table-cell;
        width: 33.33%;
        height: 100%;
        padding: 25px 15px 25px 25px;
        background-color: fade(@paper, 20%);
        background-clip: padding-box;
        border: ((@grid-gutter-width / 2)) transparent solid;
        border-radius: (((@grid-gutter-width / 2)) + 5);
        position: relative;

        .plate {
            float: left;
        }

        h3 {
            margin: 10px 0 0 100px;
            font-size: 24px;
            line-height: 1.25;
            text-transform: uppercase;
        }
    }
}

@media (max-width: @screen-xs-max) {

    /* 1 - compensate containers paddings */
    .benefits {
        margin: 0 -((@grid-gutter-width / 2)); /* 1 */
        border-radius: 0;
        border-top: 7px solid #ebf0f5;
    }

    /* 1 - avoid double compensation */
    .benefits .benefits {
        margin: 0; /* 1 */
        border-top: none;
    }

}

@media (max-width: @screen-md-min) {

    .benefits-type-services {
        border: none;
        margin: 0 0 0 (@grid-gutter-width / 2);

        .benefits--block {
            width: auto;
            display: block;
            padding: 20px 25px 20px 45px;

            .plate {
                top: 50%;
                left: -29px;
                margin-left: 0;
                margin-top: -29px;
            }
        }
    }

    .benefits-type-visa-account {
        width: 100%;
        border: none;
        margin: 0;

        .benefits--block {
            .clearfix;
            width: 100%;
            display: block;
            padding: 20px;

            h3 {
                margin-top: 24px;
            }
        }
    }

}

/* how it works */
.how-works {
    .clearfix;
    margin: @line-height-computed 0;

    .how-works--block {
        width: 33.33%;
        float: left;
        padding: 35px 15px 20px;
        position: relative;
        text-align: center;

        &:after {
            content: "";
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: @ink;
            position: absolute;
            top: 0;
            left: 15px;
            color: @gray-dark;
            font-size: 21px;
            line-height: 30px;
            text-align: center;
        }

        &:nth-child(1):after {
            content: "1";
        }

        &:nth-child(2):after {
            content: "2";
        }

        &:nth-child(3):after {
            content: "3";
        }

        &:nth-child(4):after {
            content: "4";
        }

        h3, .h3, h4, .h4 {
            margin-top: @line-height-computed;
            font-size: 21px;
            line-height: 1.25;
        }
    }

    &.how-works-4-blocks {
        .how-works--block {
            width: 25%;
        }
    }

    &.how-works-number-centered {
        .how-works--block:after {
            left: 50%;
            margin-left: -17px;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .how-works {
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;

        .how-works--block {
            width: 100%;
            padding: 15px;
            margin-bottom: @line-height-computed;
            border: 1px solid @brand-alt-highlight;
            border-radius: 5px;

            &:after {
                width: 24px;
                height: 24px;
                top: 10px;
                left: 10px;
                background-color: @brand-primary-bright;
                color: @ink;
                font-size: 16px;
                line-height: 22px;
            }
        }

        &.how-works-4-blocks {
            .how-works--block {
                width: 100%;
                padding: 15px;
                margin-bottom: @line-height-computed;
                border: 1px solid @brand-alt-highlight;
                border-radius: 5px;

                &:after {
                    width: 24px;
                    height: 24px;
                    margin-left: 0;
                    top: 10px;
                    left: 10px;
                    background-color: @brand-primary-bright;
                    color: @ink;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}

/* Payments type */
.payment-type {
    .clearfix;
    padding: 30px 60px;
    color: @ink;

    &.payment-type-bg-gray {
        //background-color: @brand-alt-highlight;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .tab-content {
        margin: 0;
        padding: 30px;
        border-radius: @border-radius-base;
        background-color: fade(@ink,10%);
    }

    .payment-type--title {
        margin-bottom: (@line-height-computed + 10);
        //color: @brand-alt-dark;
        color: @ink;
        text-align: center;
        font-size: @font-size-h2;
    }

    .payment-type--card {
        margin: -25px 0;

        table {
            width: 100%;

            tr {
                border-width: 0 0 2px;

                &:last-child {
                    border: 0;
                }
            }

            th {
                padding: @line-height-computed 0;
                color: @ink;
                //color: @gray-dark;
                font-size: @font-size-h3;
            }

            td {
                padding: @line-height-computed 0;
                font-size: @font-size-larger;

                p {
                    padding: 0;
                    margin: 0;
                }

                .fake-radio-checked {
                    margin-top: 5px;
                }
            }
        }

        .card {
            img {
                float: left;
                margin: 5px 15px 15px 0;
                border-radius: @border-radius-base;
            }

            strong {
                font-size: @font-size-large;
            }
        }
    }

    .payment-type--bottom {
        padding-top: 30px;
        text-align: center;
    }
}

@media (max-width: @screen-md-min) {

    .payment-type {
        margin: 0;
        padding: 20px;
    }
}

/* Redeem */
.redeem {
    margin: @line-height-computed 0;
    padding-left: 320px;
    background: url("../services/redeem-card.png") 0 0 no-repeat;

    .forms {
        min-height: 176px;

        p {
            padding: 0 15px;
            font-size: 16px;
        }
    }
}

@media (max-width: @screen-md-min) {

    .redeem {
        padding: 200px 0 0;
        background-position: 50% 0;
    }

}

/* imtu blocks */
.imtu--block {
    .clearfix;
    margin: @line-height-computed 0;

    h2 {
        margin-top: 0;
        padding-top: 0;
    }
}

.imtu--block-details {
    .forms-gray {
        padding: @line-height-computed;
    }

    .form-group {
        vertical-align: bottom;

        .control-label {
            //color: @gray-dark;
            font-size: @font-size-base;
            font-weight: bold;
        }

        .phone-number {
            //color: @brand-alt-dark;
            font-size: (@font-size-large + 10);
            font-weight: normal;
            line-height: 1.2;
        }

        .phone-number--country {
            display: block;
            //color: #000;
            font-size: (@font-size-large + 4);
        }

        .plate {
            display: table-cell;
            width: 47px;
            height: 47px;
            vertical-align: middle;
            position: relative;
            top: 26px;

            img {
                display: inline-block;
                width: 100%;
            }
        }
    }

    .spec-offer {
        padding: 15px 20px;
        margin: 0 0 @line-height-computed;
        //background-color: @brand-primary-highlight;
        background: fade(@ink, 20%);
        border-radius: 5px;
        //color: #000;
        font-size: @font-size-h3;
        line-height: 1.2;

        h5 {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: @font-size-h2;
            line-height: 1.25;
        }

        .spec-offer--valid {
            //color: @brand-primary;
            font-size: @font-size-larger;
        }

        .spec-offer--link {
            font-size: @font-size-larger;
            margin-top: 8px;
        }

        .spec-offer--block {
            .clearfix;
            padding: 6px 0;
            margin: 0;
            //color: @gray-dark;
            font-size: @font-size-larger;
            line-height: @line-height-base;

            img {
                float: left;
                width: 45px;
                height: 45px;
                margin: 0 15px 0 0;
                background-color: #fff;
                border-radius: 5px;
            }
        }

        .form-group {
            padding-top: 15px;
            margin-bottom: 10px;
        }
    }
}

.imtu--block-amount {
    .dest-currency {
        .curr {
            display: block;
            color: @brand-alt-highlight;
            font-size: @font-size-h2;
            line-height: 1.2;
        }
    }
}

.imtu--block-order {
    .order-summary {
        h3 {
            margin: -15px 0 10px;
            font-size: @font-size-h2;
            text-align: left;
        }

        .order-summary--field {
            .clearfix;
            margin: 0 0 16px;
            font-size: @font-size-larger;
            line-height: @line-height-computed;
            //border-bottom: 1px #000 dotted;

            h5 {
                padding: 0;
                margin: 0;
                //color: #000;
                font-size: @font-size-larger;
            }

            > span {
                float: right;
                //background-color: #ebf0f5;
                position: relative;
                bottom: -4px;
            }

            > strong {
                display: block;
                float: left;
                //background-color: #ebf0f5;
                position: relative;
                bottom: -4px;
            }
        }

        .order-summary--total {
            .clearfix;
            padding: 10px 0 0;
            color: @secondary;
            font-size: @font-size-h3;
            font-weight: bold;
            text-align: right;

            h5 {
                padding: 0;
                margin: 0;
                float: left;
                font-size: @font-size-h3;
                line-height: @line-height-base;
                text-transform: uppercase;
            }
        }
    }
}

.imtu--block-payment {
    .payment-type {
        //padding-top: 0;
        margin: 0 -60px;
        color: @ink;

        .tab-content {
            //margin: 0 -60px;
            padding: 40px 60px;
            //background-color: @brand-alt-highlight;
            background-color: fade(@paper, 20%);
            //border-radius: 0;
        }

        .payment-type--card {
            table {
                th {
                    color: @ink;
                }
            }
        }
    }
}

@media (max-width: @screen-md-min) {


    .imtu--block-payment {
        .payment-type {
            .tab-content {
                margin: 0 -20px;
                padding: 30px 20px;
            }
        }
    }

}

/* call me plan */
.call-me-plan {
    .clearfix;
    padding: 0 (@line-height-computed + 60);

    .call-me-plan--phones {
        width: 270px;
        float: right;

        .h3 {
            color: @brand-alt-highlight;
        }
    }

    .call-me-plan--details {
        float: left;
    }

    .call-me-plan--country {
        .icon-block--text {
            color: @ink;
            vertical-align: middle;
            text-transform: uppercase;
        }
    }
}

@media (max-width: @screen-md-min) {

    .call-me-plan {
        padding: @line-height-computed;
    }

}

.plan-dates {
    .clearfix;
    padding: @line-height-computed (@line-height-computed + 60);

    .plan-dates--old {
        display: inline-block;
        width: 350px;
        margin-right: 20px;
        padding-top: 10px;

        .icon-block--text {
            text-align: center;

            strong {
                display: block;
                height: 45px;
                margin: 0 0 5px;
                border-radius: @border-radius-base;
                background-color: @brand-alt-highlight;
                color: @brand-alt-dark;
                font-size: @font-size-h3;
                line-height: 42px;
                text-align: center;

                &:first-child {
                    margin: 0 0 5px;
                }
            }
        }
    }

    .plan-dates--new {
        display: inline-block;
        width: 350px;
        padding-top: 10px;

        .icon-block--text {
            text-align: center;

            strong {
                display: block;
                height: 45px;
                margin: 0 0 5px;
                border-radius: @border-radius-base;
                background-color: @brand-primary-highlight-medium;
                color: @brand-primary;
                font-size: @font-size-h3;
                line-height: 42px;
                text-align: center;

                &:first-child {
                    margin: 0 0 5px;
                }
            }
        }
    }
}

@media (max-width: @screen-md-min) {

    .plan-dates {
        padding: @line-height-computed;
    }

}

.plan-payments {

    .plan-payments--card {
        padding: 0 (@line-height-computed + 60);
        margin-bottom: (@line-height-computed + 10);

        p {margin-bottom: 5px;}

        .plan-payments--card-number {
            width: 270px;
            float: right;
            margin-left: 40px;

            .icon-block--text {
                strong {
                    color: @brand-alt-highlight;
                }
            }
        }
    }

    .update-card {
        background: transparent;
        border: 0;
        padding: 0;
        color: @link-color;
        font-size: @font-size-larger;
        font-weight: bold;
        outline: none;

        &:hover {
            color: @link-hover-color;
        }

        .i {
            height: 21px;
            width: 21px;
            float: right;
            margin-left: 5px;

            &.i--collapse {display: block;}
            &.i--expand {display: none;}
        }

        &.collapsed {
            .i--collapse {display: none;}
            .i--expand {display: block;}
        }
    }
}

@media (max-width: @screen-md-min) {

    .plan-payments {

        .plan-payments--card {
            padding: 0 @line-height-computed;
        }
    }

}

.plan-button {
    padding: @line-height-computed;
    text-align: center;
}

.visa-virtual-carousel {
    .item {
        .clearfix;
        min-height: 215px;
        padding: 40px 80px 100px;

        .item--title,
        .item--text {
            margin-left: 310px;
        }

        @media (max-width: @screen-xs-max) {
            padding: 20px 40px 70px;

            .item--title {
                margin-left: 0;
                text-align: center;
            }

            .item--text  {
                margin-left: 0;
            }

            .plate {
                display: block;
                height: auto;
                padding: 10px;
                float: none;
                margin: auto;

                &.plate-size-double {
                    padding: 10px;
                }
            }
        }
    }

    .carousel-control {
        width: 10%;
        color: @brand-alt-bright;
    }

    .carousel-indicators.carousel-indicators {
        > li {
            &.active {
                background-color: @brand-primary-bright;
                border-color: transparent;
                border-width: 5px;
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
            }
        }

        @media (max-width: @screen-xs-max) {
            > li {
                border-color: rgba(0, 0, 0, .5);;

                &.active {
                    background-color: @brand-primary-bright;
                    border-color: transparent;
                    border-width: 5px;
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
                }
            }
        }
    }

    .plate {
        width: 260px;
        height: 260px;
        padding: 60px;
        margin: 0 50px 0 0;
        float: left;

        &.plate-size-double {
            width: 420px;
            padding: 60px 20px;

            .i--plus {
                height: 130px;
                font-size: 72px;
                line-height: 100px;
            }
        }

        .i {
            width: 121px;
            height: 121px;
        }
    }
}
