<ul class="menutiles" id="servicesTiles">
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--inter-calling" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--inter-calling"></use>
                </svg>
            </span>
            <span class="menutiles-text">International Calling</span>
        </a>
        <button class="btn-tilecollapse" type="button" data-target---="#collapseIntCalling" data-toggle---="collapse" data-parent="#servicesTiles" aria-expanded="true" aria-controls="collapseIntCalling">
            <!--span class="caret"></span-->
        </button>
        <div id="collapseIntCalling" class="menutiles-collapse collapse in">
            <div class="menutiles-collapse-inner">
                <ul class="list-inline row">
                    <li class="col-xs-6"><a href="" class="menutiles-sublink">Add Funds »</a></li>
                    <li class="col-xs-6"><a href="" class="menutiles-sublink">Redeem Card »</a></li>
                    <li class="col-xs-6"><a href="" class="menutiles-sublink">Unlimited Plan »</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--money-transfer" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--money-transfer"></use>
                </svg>
            </span>
            <span class="menutiles-text">Money Transfer</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--inter-airtime-top-up" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--inter-airtime-top-up"></use>
                </svg>
            </span>
            <span class="menutiles-text">International Mobile Top Up</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--gift" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--gift"></use>
                </svg>
            </span>
            <span class="menutiles-text">eGift</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--domestic-airtime-top-up" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--domestic-airtime-top-up"></use>
                </svg>
            </span>
            <span class="menutiles-text">Domestic Mobile Top Up</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--call-me" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--call-me"></use>
                </svg>
            </span>
            <span class="menutiles-text">Call Me</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--international-gift" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--international-gift"></use>
                </svg>
            </span>
            <span class="menutiles-text">International eGifts</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--bill-pay" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--bill-pay"></use>
                </svg>
            </span>
            <span class="menutiles-text">Bill Pay</span>
        </a>
    </li>
    <li class="menutiles-item panel">
        <a href="" class="menutiles-link">
            <span class="menutiles-icon">
                <svg class="i i--visa-virtual" xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--visa-virtual"></use>
                </svg>
            </span>
            <span class="menutiles-text">Visa Virtual</span>
        </a>
    </li>
</ul>
