/* buttons */

.btn + .btn {
    margin-left: 5px;
}

.btn-appstore,
.btn-gplay {
    display: inline-block;
    overflow: hidden;
    width: 135px;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: 100%;
}
.no-svg .btn-appstore,
.no-svg .btn-appstore:active {
    background: url(../images/btn-appstore.png);
}
.no-svg .btn-gplay,
.no-svg .btn-gplay:active {
    background: url(../images/btn-gplay.png);
}
.svg .btn-appstore,
.svg .btn-appstore:active {
    background: url(../images/btn-appstore.svg);
}
.svg .btn-gplay,
.svg .btn-gplay:active {
    background: url(../images/btn-gplay.svg);
}
/* buttons end */