/* buttons */

.btn-appstore,
.btn-gplay {
    display: inline-block;
    overflow: hidden;
    margin: 0 5px 5px 0;
    width: 135px;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: 150%;
}
.no-svg .btn-appstore,
.no-svg .btn-appstore:active {
    background: url(../img/btn-appstore.png);
}
.no-svg .btn-gplay,
.no-svg .btn-gplay:active {
    background: url(../img/btn-gplay.png);
}
.svg .btn-appstore,
.svg .btn-appstore:active {
    background: url(../img/btn-appstore.svg);
}
.svg .btn-gplay,
.svg .btn-gplay:active {
    background: url(../img/btn-gplay.svg);
}
.btn-flat-bordered{
    background-color: @brand-alt-highlight-bright;
    border-color: @brand-alt-highlight;
    color: @gray-alt;
    height: 45px;
    text-align: left;
    .i {
        margin-right: 10px;
        fill: @brand-alt-dark;
    }
    &:hover{
        background-color: transparent;
    }
    &:active, &:focus, &:visited{
        background-color: transparent;
        border-color: @brand-alt-highlight; 
        .i{
            fill: @gray-dark;
        }
    }
}
/* buttons end */