/* buttons */

/* buttons styles by shadows:
    1 - border
    2 - pressed inner shadow
    3 - gradient
    4 - focus
*/
/* btn default shadows state */
@btn-default-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0 ,0 ,0 , 0.2),
    /* 2 */ inset 0 0 0 0 rgba(0 ,0 ,0 , 0.0),
    /* 3 */ inset 0 2.2em 2.2em -1.1em #fff,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
@btn-default-hover-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 2.2em 2.2em -1.1em #fff,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
@btn-default-focus-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 1.1em 1.1em -0.6em #fff,
    /* 4 */ 0 0 0 3px rgba(0, 128, 255 , 0.3);
@btn-default-active-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 1px 2px 3px 0 rgba(0, 0, 0, 0.2),
    /* 3 */ inset 0 1.1em 1.1em -0.6em #fff,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);

/* btn primary shadows state */
@btn-primary-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 2.2em 2.2em -1.1em #cb0000,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
@btn-primary-hover-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 2.2em 2.2em -1.1em #fd0000,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
@btn-primary-focus-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 1.1em 1.1em -0.6em #cb0000,
    /* 4 */ 0 0 0 3px rgba(0, 128, 255, 0.3);
@btn-primary-active-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 1px 2px 3px 0 rgba(0, 0, 0, 0.2),
    /* 3 */ inset 0 1.1em 1.1em -0.6em #cb0000,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);

/* btn success shadows state */
@btn-success-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 2.2em 2.2em -1.1em #63ba11,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
@btn-success-hover-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 2.2em 2.2em -1.1em #72db14,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
@btn-success-focus-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0.0),
    /* 3 */ inset 0 1.1em 1.1em -0.6em #63ba11,
    /* 4 */ 0 0 0 3px rgba(0, 128, 255, 0.3);
@btn-success-active-shadow:
    /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    /* 2 */ inset 1px 2px 3px 0 rgba(0, 0, 0, 0.2),
    /* 3 */ inset 0 1.1em 1.1em -0.6em #63ba11,
    /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);

.btn {
    font-weight: bold;
}

.btn-default {
    .box-shadow(@btn-default-shadow);
    background: #e0e0ed;
    border: none;
    color: @brand-primary-btn-dark;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    .transition(all 0.2s);

    &:hover {
        .box-shadow(@btn-default-hover-shadow);
        background-color: #ECECFB;
        color: @brand-primary-btn;
        text-decoration: none;
    }

    &:focus {
        .box-shadow(@btn-default-focus-shadow);
        outline:none;
    }

    &:active {
        .box-shadow(@btn-default-active-shadow);
        outline:none;
        .transition-duration(0.1s);
    }

    &.disabled,
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        .box-shadow(none);

        &:hover,
        &:focus,
        &:active {
            background: #e0e0ed;
        }
    }
}

.btn-primary {
    .box-shadow(@btn-primary-shadow);
    background: #a10000;
    border: none;
    color: #fff;
    text-shadow: 0 1px 0 #950000;
    text-transform: uppercase;
    .transition(all 0.2s);

    &:hover {
        background-color: #cd0000;
        text-shadow: 0 1px 0 #be0000;
        text-decoration: none;
        .box-shadow(@btn-primary-hover-shadow);
    }

    &:focus {
        background-color: #a10000;
        border: none;
        .box-shadow(@btn-primary-focus-shadow);
        text-shadow: none;
        outline:none;
    }

    &:active {
        .box-shadow(@btn-primary-active-shadow);
        outline:none;
        .transition-duration(0.1s);
    }

    &.disabled,
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        .box-shadow(none);

        &:hover,
        &:focus,
        &:active {
            background: #b50000;
        }
    }
}

.btn-success {
    .box-shadow(@btn-success-shadow);
    background: #4d871d;
    border: none;
    color: #fff;
    text-shadow: 0 1px 0 #4a8714;
    text-transform: uppercase;
    .transition(all 0.2s);

    &:hover {
        background-color: #529c0e;
        text-shadow: 0 1px 0 #529c0e;
        text-decoration: none;
        .box-shadow(@btn-success-hover-shadow);
    }

    &:focus {
        background-color: #4d871d;
        border: none;
        outline:none;
        .box-shadow(@btn-success-focus-shadow);
    }

    &:active {
        .box-shadow(@btn-success-active-shadow);
        outline:none;
        text-shadow: none;
        .transition-duration(0.1s);
    }

    &.disabled,
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        .box-shadow(none);

        &:hover,
        &:focus,
        &:active {
            background: #4d871d;
        }
    }
}

.btn-lg {
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
    min-width: inherit;
}
.btn-sm {
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
    min-width: inherit;
}
.btn-xs {
    .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-xs-small; @line-height-small; @border-radius-small);
    min-width: inherit;
}

.btn-appstore,
.btn-gplay {
    display: inline-block;
    overflow: hidden;
    margin: 0 5px 5px 0;
    width: 135px;
    min-width: inherit;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: 150%;
}

.no-svg .btn-appstore,
.no-svg .btn-appstore:active {
    background: url("../img/btn-appstore.png");
}

.no-svg .btn-gplay,
.no-svg .btn-gplay:active {
    background: url("../img/btn-gplay.png");
}

.svg .btn-appstore,
.svg .btn-appstore:active {
    background: url("../img/btn-appstore.svg");
}

.svg .btn-gplay,
.svg .btn-gplay:active {
    background: url("../img/btn-gplay.svg");
}

/* alternative buttons */

.btn-bordered {
    font-weight: bold;
    //background-color: #fff;
    //background-color: #9d9d9d;
    border-color: #808285;
    color: @ink;

    .i {
        margin-right: 10px;
        //fill: @brand-alt-dark;
        fill: @brand-alt-highlight;
    }

    &:link {
        //color: @gray-alt;
        color: @ink;
    }

    &:hover {
        //background-color: transparent;
        border-color: @ink;
        color: @ink;
    }
}

.btn-flat {

}

.btn-flat-bordered {
    font-weight: bold;
    //background-color: @brand-alt-highlight-bright;
    background-color: #696969;
    border-color: #808285;
    color: @ink;
    text-align: left;

    .i {
        margin-right: 10px;
        fill: @brand-alt-highlight-bright;
    }

    &:hover {
        //background-color: #FFF;
        border-color: @ink;
        color: @ink;
    }

    &:active,
    &:focus,
    &:visited {
        //background-color: transparent;
        //border-color: @brand-alt-highlight;

        .i {
            //fill: @gray-dark;
            fill: @brand-alt-highlight
        }
    }
}

.btn-transp {
    color: @gray-dark;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        color: @brand-alt;
    }
}

.btn-transp-primary {
    color: @brand-primary;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        color: @brand-primary-bright;
    }
}

.btn-transp,
.btn-transp-primary {
    
    &:active {
        box-shadow: none;
    }
}

/* btn group */
.btn-group {
    .clearfix;

    .btn {
        width: auto;
        min-width: inherit;
        font-size: @font-size-larger;
        line-height: 21px;

        &.btn-default {
            &.active {
                background: #a10000;
                border: none;
                .box-shadow(@btn-primary-active-shadow);
                color: #fff;
                text-shadow: 0 1px 0 #950000;
                outline:none;
            }
        }
    }

    &.btn-group-block {
        display: block;
        float: none;
        width: 100%;
        margin: 0 0 15px;
    }

    &.btn-group-count-3 {
        .btn {
            width: 33.3%;
        }
    }
}

/* footer support buttons */
.btn-support {
    display: block;
    padding: 10px 25px;
    text-align: center;
    background: @brand-primary-bright;
    border-radius: @border-radius-base;
    color: #FFF;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: @brand-primary-bright;
        background: #FFF;
    }
}

.btn-support--small {
    display: block;
    font-size: 13px;
}

.btn-support--key {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

/* footer support buttons end */


/* social share buttons */
.btn-share {
    display: inline-block;
    margin: 3px;

    .i {
        width: 57px;
        height: 57px;    
    }
}
/* social share buttons end */