/* icon system */
@import "_flags.less";

/* for inline-svg icons by default use the color of the text */
.i {
	display: inline-block;
    vertical-align: middle;
	fill: currentColor; /* 1 */
}

/* remove background-image from svg tags when supporting inline-svg */
.svg svg.i {
	background-image: none;
}

.btn .i {
    fill: #FFF;
}


/* plate */

.plate {
    border-radius: @border-radius-base;
}

.plate-default {
    color: #FFF;
    background-color: @brand-primary;
    width: 57px;
    height: 57px;
    padding: ;
    text-align: center;

    .i {
        width: 55px;
        height: 55px;
        vertical-align: top;
    }
}

.plate-default-inset {
    color: #FFF;
    background-color: @brand-primary;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);

    .i {
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    }
}

.plate-alt {
    color: #FFF;
    background-color: @brand-alt-dark;
}

.plate-alt-highlight {
    color: @brand-alt-dark;
    background-color: @brand-alt-highlight;
}

.plate-white {
    color: @brand-alt-dark;
    background-color: #fff;
}

.plate-large {
    width: 79px;
    height: 79px;
    padding: 14px;

    .i {
        width: 51px;
        height: 51px;
        vertical-align: top;        
    }
}

.plate-small {
    width: 45px;
    height: 45px;
}
/* plate end */