/* icon system */


/* for inline-svg icons by default use the color of the text */
.icon {
	display: inline-block;
	fill: currentColor; /* 1 */
}

/* remove background-image from svg tags when supporting inline-svg */
.svg svg.icon {
	background-image: none;
}