/* icon system */

.icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	fill: currentColor;
}

/* test */
.icon-adn {
	width: 28px;
	height: 28px;
	fill: #9c0001;
}

.icon-adn path {
	fill: #9c0001;
}