/* layout */

html,
body {
  height: 100%;
}

@media (max-width: 480px) {

    /* fix min width of the page to 480px */

    /*html,
    body {
        min-width: 480px;
    }*/

}

/* address IE8. TODO: make .no-mediaqueries  */
.no-svg .container {
    width: 970px;
}

/* offcanvas menu */

/* 1 - smaller bg for modern browsers */

.allpage {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    background-color: #EEE;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url(../img/bg.jpg);
    background-image: url(../img/bg-small.jpg), none; /* 1 */
    background-size: cover;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.allpage--body > .container:first-child {
    padding-top: 160px;
}

@media (max-width: @screen-xs-max) {

    .allpage {
        background: #FFF;
    }

    .allpage--body > .container:first-child {
        padding-top: 65px;
    }

}

.allpage--footer {
    margin-top: @line-height-computed;
}

.offcanvas-menu {
    z-index: 1;
}

/* increasing specifity for allpage--header*/
.canvas-sliding,
.canvas-sliding.allpage--header.allpage--header {
    transition-timing-function: ease-in-out;
}
/* offcanvas menu end */


/* sticky footer */
.flexbox,
.flexbox body,
.flexbox .allpage {
    min-height: 100vh;
}

.flexbox .allpage {
    display: flex;
    flex-direction: column;
}

.flexbox .allpage--body {
    flex-grow: 1;
}
/* sticky footer end */

/* benefits */
.benefits {
    margin: @line-height-computed auto; //20px auto
    border-radius: @border-radius-large;
    background:#FFF;
}

.benefits-type-services {
    .clearfix;
    margin: @line-height-computed -((@grid-gutter-width / 2));
    display: table;

    .benefits--block {
        display: table-cell;
        width: 33.33%;
        height: 100%;
        padding: 55px 35px 25px;
        background-color: #e8eff5;
        border: ((@grid-gutter-width / 2)) #fff solid;
        border-radius: (((@grid-gutter-width / 2)) + 5);
        position: relative;

        h3 {
            color: #000;
        }

        a {
            font-weight: bold;
        }

        .plate {
            height: 58px;
            width: 58px;
            padding: 0;
            margin-left: -29px;
            position: absolute;
            top: -29px;
            left: 50%;
            border: 5px #fff solid;
            border-radius: 50%;
            overflow: hidden;

            .i {
                width: 52px;
                height: 52px;
                margin: -2px 0 0 -2px;
            }
        }
    }
}

@media (max-width: @screen-xs-max) {

    /* 1 - compensate containers paddings */
    .benefits {
        margin: 0 -((@grid-gutter-width / 2)); /* 1 */
        border-radius: 0;
        border-top: 7px solid #ebf0f5;
    }

    /* 1 - avoid double compensation */
    .benefits .benefits {
        margin: 0; /* 1 */
        border-top: none;
    }

}

@media (max-width: @screen-md-min) {

    .benefits-type-services {
        border: none;
        margin: 0 0 0 (@grid-gutter-width / 2);

        .benefits--block {
            width: auto;
            display: block;
            padding: 20px 25px 20px 45px;

            .plate {
                top: 50%;
                left: -29px;
                margin-left: 0;
                margin-top: -29px;
            }
        }
    }

}

/* how it works */

.how-works {
    .clearfix;
    margin: @line-height-computed 0;

    .how-works--block {
        width: 33.33%;
        float: left;
        padding: 35px 15px 20px;
        position: relative;
        text-align: center;

        &:after {
            content: "";
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: @brand-primary-highlight-medium;
            position: absolute;
            top: 0;
            left: 15px;
            color: @brand-primary-dark;
            font-size: 21px;
            line-height: 30px;
            text-align: center;
        }

        &:nth-child(1):after {
            content: "1";
        }

        &:nth-child(2):after {
            content: "2";
        }

        &:nth-child(3):after {
            content: "3";
        }

        h3 {
            margin-top: @line-height-computed;
            color: #000;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .how-works {
        margin-bottom: 0;

        .how-works--block {
            width: 100%;
            padding: 15px;
            margin-bottom: @line-height-computed;
            border: 1px solid @brand-alt-highlight;
            border-radius: 5px;

            &:after {
                top: 15px;
                left: 15px;
            }
        }
    }
}

/* Redeem */
.redeem {
    margin: @line-height-computed 0;
    padding-left: 320px;
    background: url("../services/redeem-card.png") 0 0 no-repeat;

    .forms {
        min-height: 176px;

        p {
            padding: 0 15px;
            font-size: 16px;
        }
    }
}

@media (max-width: @screen-md-min) {

    .redeem {
        padding: 200px 0 0;
        background-position: 50% 0;
    }

}
