/* layout */

html,
body {
  height: 100%;
}

@media (max-width: 480px) {

    /* fix min width of the page to 480px */

    /*html,
    body {
        min-width: 480px;
    }*/

}

/* address IE8. TODO: make .no-mediaqueries  */
.no-svg .container {
    width: 970px;
}

/* offcanvas menu */

/* 1 - smaller bg for modern browsers */

.allpage {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    background-color: #EEE;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url(../img/bg.jpg);
    background-image: url(../img/bg-d3.jpg), none; /* 1 */
    background-size: cover;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.allpage--body > .container:first-child {
    padding-top: 160px;
}

@media (max-width: @screen-xs-max) {

    .allpage {
        background: #FFF;
    }

    .allpage--body > .container:first-child {
        padding-top: 65px;
    }

}

.allpage--footer {
    margin-top: @line-height-computed;
}

.offcanvas-menu {
    z-index: 1;
}

/* increasing specifity for allpage--header*/
.canvas-sliding,
.canvas-sliding.allpage--header.allpage--header {
    transition-timing-function: ease-in-out;
}
/* offcanvas menu end */


/* sticky footer */
.flexbox,
.flexbox body,
.flexbox .allpage {
    min-height: 100vh;
}

.flexbox .allpage {
    display: flex;
    flex-direction: column;
}

.flexbox .allpage--body {
    flex-grow: 1;
}
/* sticky footer end */

/* benefits */
.benefits {
    margin: @line-height-computed auto; //20px auto
    border-radius: @border-radius-large;
    background: #fff;
}

.benefits-type-services {
    .clearfix;
    margin: @line-height-computed -((@grid-gutter-width / 2));
    display: table;

    .benefits--block {
        display: table-cell;
        width: 33.33%;
        height: 100%;
        padding: 55px 35px 25px;
        background-color: #e8eff5;
        border: ((@grid-gutter-width / 2)) #fff solid;
        border-radius: (((@grid-gutter-width / 2)) + 5);
        position: relative;

        h3 {
            color: #000;
        }

        a {
            font-weight: bold;
        }

        .plate {
            height: 58px;
            width: 58px;
            padding: 0;
            margin-left: -29px;
            position: absolute;
            top: -29px;
            left: 50%;
            border: 5px #fff solid;
            border-radius: 50%;
            background-clip: padding-box;
            overflow: hidden;

            .i {
                width: 52px;
                height: 52px;
                margin: -2px 0 0 -2px;
            }
        }
    }
}

@media (max-width: @screen-xs-max) {

    /* 1 - compensate containers paddings */
    .benefits {
        margin: 0 -((@grid-gutter-width / 2)); /* 1 */
        border-radius: 0;
        border-top: 7px solid #ebf0f5;
    }

    /* 1 - avoid double compensation */
    .benefits .benefits {
        margin: 0; /* 1 */
        border-top: none;
    }

}

@media (max-width: @screen-md-min) {

    .benefits-type-services {
        border: none;
        margin: 0 0 0 (@grid-gutter-width / 2);

        .benefits--block {
            width: auto;
            display: block;
            padding: 20px 25px 20px 45px;

            .plate {
                top: 50%;
                left: -29px;
                margin-left: 0;
                margin-top: -29px;
            }
        }
    }

}

/* how it works */

.how-works {
    .clearfix;
    margin: @line-height-computed 0;

    .how-works--block {
        width: 33.33%;
        float: left;
        padding: 35px 15px 20px;
        position: relative;
        text-align: center;

        &:after {
            content: "";
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: @brand-primary-highlight-medium;
            position: absolute;
            top: 0;
            left: 15px;
            color: @brand-primary-dark;
            font-size: 21px;
            line-height: 30px;
            text-align: center;
        }

        &:nth-child(1):after {
            content: "1";
        }

        &:nth-child(2):after {
            content: "2";
        }

        &:nth-child(3):after {
            content: "3";
        }

        h3 {
            margin-top: @line-height-computed;
            color: #000;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .how-works {
        margin-bottom: 0;

        .how-works--block {
            width: 100%;
            padding: 15px;
            margin-bottom: @line-height-computed;
            border: 1px solid @brand-alt-highlight;
            border-radius: 5px;

            &:after {
                top: 15px;
                left: 15px;
            }
        }
    }
}

/* Redeem */
.redeem {
    margin: @line-height-computed 0;
    padding-left: 320px;
    background: url("../services/redeem-card.png") 0 0 no-repeat;

    .forms {
        min-height: 176px;

        p {
            padding: 0 15px;
            font-size: 16px;
        }
    }
}

@media (max-width: @screen-md-min) {

    .redeem {
        padding: 200px 0 0;
        background-position: 50% 0;
    }

}

/* imtu blocks */
.imtu--block {
    .clearfix;
    margin: @line-height-computed 0;

    h2 {
        margin-top: 0;
        padding-top: 0;
    }
}

.imtu--block-details {
    .forms-gray {
        padding: @line-height-computed;
    }

    .form-group {
        vertical-align: bottom;

        .control-label {
            color: @gray-dark;
            font-size: @font-size-base;
            font-weight: bold;
        }

        .phone-number {
            color: @brand-alt-dark;
            font-size: (@font-size-large + 10);
            font-weight: normal;
            line-height: 1.2;
        }

        .phone-number--country {
            display: block;
            color: #000;
            font-size: (@font-size-large + 4);
        }

        img {
            vertical-align: bottom;
            margin-top: 26px;
            border: 1px transparent solid;
            border-radius: 50%;
        }
    }

    .spec-offer {
        padding: 15px 20px;
        margin: 0 0 @line-height-computed;
        background-color: @brand-primary-highlight;
        border-radius: 5px;
        color: #000;
        font-size: @font-size-h3;
        line-height: 1.2;

        h5 {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: @font-size-h2;
            line-height: 1.25;
        }

        .spec-offer--valid {
            color: @brand-primary;
            font-size: @font-size-larger;
        }

        .spec-offer--link {
            font-size: @font-size-larger;
            margin-top: 8px;
        }

        .spec-offer--block {
            .clearfix;
            padding: 6px 0;
            margin: 0;
            color: @gray-dark;
            font-size: @font-size-larger;
            line-height: @line-height-base;

            img {
                float: left;
                width: 45px;
                height: 45px;
                margin: 0 15px 0 0;
                background-color: #fff;
                border-radius: 5px;
            }

            strong {
                color: #000;
            }
        }

        .form-group {
            padding-top: 15px;
            margin-bottom: 10px;
        }
    }
}

.imtu--block-amount {
    .dest-currency {
        .curr {
            display: block;
            color: @brand-alt-dark;
            font-size: @font-size-h2;
            line-height: 1.2;
        }
    }
}

.imtu--block-order {
    .order-summary {
        h3 {
            margin: -15px 0 10px;
            font-size: @font-size-h2;
            text-align: left;
        }

        .order-summary--field {
            .clearfix;
            margin: 0 0 16px;
            font-size: @font-size-larger;
            line-height: @line-height-computed;
            border-bottom: 1px #000 dotted;

            h5 {
                padding: 0;
                margin: 0;
                color: #000;
                font-size: @font-size-larger;
            }

            > span {
                float: right;
                background-color: #ebf0f5;
                position: relative;
                bottom: -4px;
            }

            > strong {
                display: block;
                float: left;
                background-color: #ebf0f5;
                position: relative;
                bottom: -4px;
            }
        }

        .order-summary--total {
            .clearfix;
            padding: 10px 0 0;
            color: @secondary;
            font-size: @font-size-h3;
            font-weight: bold;
            text-align: right;

            h5 {
                padding: 0;
                margin: 0;
                float: left;
                font-size: @font-size-h3;
                line-height: @line-height-base;
                text-transform: uppercase;
            }
        }
    }
}

.imtu--block-payment {
    .payment-type {
        .tab-content {
            margin: 0 -60px;
            padding: 40px 60px;
            background-color: @brand-alt-highlight;
        }
    }

    .payment-type--card {
        margin: -25px 0;

        table {
            width: 100%;

            tr {
                border-width: 0 0 2px;

                &:last-child {
                    border: 0;
                }
            }

            th {
                padding: @line-height-computed 0;
                color: @brand-primary-dark;
                font-size: @font-size-h3;
            }

            td {
                padding: @line-height-computed 0;
                font-size: @font-size-larger;

                p {
                    padding: 0;
                    margin: 0;
                }

                .fake-radio-checked {
                    margin-top: 5px;
                }
            }
        }

        .card {
            img {
                float: left;
                margin: 5px 15px 15px 0;
            }

            strong {
                font-size: @font-size-large;
            }
        }
    }
}
