// @TODO: Create a header for the files with name of the module and details.

/* navbar modification: default state */
// @TODO: Create a default state styles if it's necessary.
/* default state end */

/* navbar modification: navbar-topline */
@navbar-bg-dark: #333;
@navbar-bg-red: #b31212;
@navbar-offset: 125px;
@topline-textsize: 12px;
@topline-textcolor: #fff;

.navbar-topline {
    margin-bottom: 0;
    padding-left: @navbar-offset;
    border: none;
    min-height: 0;
    color: @topline-textcolor;
    border-radius: 0;
    transition: all 0.5s ease-in-out;

    .navbar--text {
        padding-top: 15px;
        font-size: @topline-textsize;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.7;

        a {color: @topline-textcolor;}
    }

    .navbar--list {
        &.navbar--list-position-right {
            float: right;
        }

        .navbar--item {
            &.active,
            &.open {
                .navbar--link {
                    background-color: @navbar-bg-dark;
                }
            }
        }

        .navbar--link {
            color: @topline-textcolor;
            font-size: @topline-textsize;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: none;
            background-color: transparent;

            &:hover,
            &:focus {
                background-color: @navbar-bg-dark;
            }
        }
    }

    /* dropdown menu and items */
    .navbar--submenu {
        margin: 0;
        width: 100%;
        padding: 10px 0;
        border-width: 0;
        border-radius: 0 0 2px 2px;
        color: @topline-textcolor;
        background-color: @navbar-bg-dark;
        font-size: @topline-textsize;
        
        .navbar--submenulink,
        .dropdown-header {
            padding: 5px 15px;
        }

        .navbar--submenulink {
            font-weight: bold;
            color: inherit;

            &:hover,
            &:focus {
                background: #000;
                color: inherit;
            }
        }
    }

    .navbar--submenu > .active > .navbar--submenulink,
    .navbar--submenu > .active > .navbar--submenulink:hover,
    .navbar--submenu > .active > .navbar--submenulink:focus {
        background-image: url(../icons/svg/checkmark.svg);
        background-repeat: no-repeat;
        background-position: 95% 50%;
        pointer-events: none;
    }

    .i-menu {
        vertical-align: text-top;
    }

    .flag {
        margin-right: 5px;
    }

}

@media (min-width: @screen-sm-min) {

    .navbar-topline .navbar--list-position-right .navbar--submenu {
        left: 0;
        right: auto;
        z-index: (@zindex-dropdown + 1);
    }

}

@media (max-width: @screen-xs-max) {

    .navbar-topline {
        padding-left: 100px;

        .navbar--list {
            margin: 12.5px -5px 12.5px 0;

            .navbar--item {
                float: left;
            }

            &.navbar--list-position-right {
                float: right;
            }
        }

        .open .navbar--submenu {
            position: absolute;
            float: left;
            width: 100%;
            background-color: @navbar-bg-dark;
        }

        .navbar-nav .open .dropdown-menu .navbar--submenulink,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding-left: 15px;
        }

        .navbar-toggle {
            margin: 0 0 0 5px;
            padding: 10px;
            font-size: 12px;
            line-height: 16px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #c00;
            color: #FFF;
            border-radius: 3px;
            transition: all 0.5s ease-in-out;

            &:hover,
            &:focus {
                background-color: #e10000;
                transition: all 0;
            }
            
            /* 1 - SVG icon sometimes don't receive clicks */
            .i {
                pointer-events:none; /* 1 */
                vertical-align: text-top;
            }
        }
    }
}

@media (max-width: @screen-xxs) {

    .navbar-topline {
        padding-left: 75px;
    }

}

/* navbar-topline end */

/* navbar modification: navbar-bossmain */
@mainmenu-bg: #9c0001;
@mainmenu-radius: 3px;
@mainmenu-textcolor: #fff;

.navbar-bossmain {
    margin: 40px 0 20px @navbar-offset;
    border: none;
    background-color: rgba(225, 0, 0, 0.9);
    color: @mainmenu-textcolor;

    .navbar--list {
        &.nav-pills {
            li + li {
                margin-left: 0;
            }
        }

        .navbar--item {
            &:first-child {
                .navbar--link {
                    border-radius: @mainmenu-radius 0 0 @mainmenu-radius;
                }
            }
            
            &:hover .navbar--link,
            &.open:first-child .navbar--link {
                border-bottom-left-radius: 0;
            }
            
            /* 1 - commented, because menu is not justified */
            &:last-child {
                .navbar--link {
                    /* border-radius: 0 @mainmenu-radius @mainmenu-radius 0; */ /* 1 */
                }
            }

            &.active,
            &.open,
            &:hover {
                .navbar--link {
                    background-color: @mainmenu-bg;
                    color: @mainmenu-textcolor;
                }
            }

            /* dropdown */
            /* 1 - required for pulled in overlay button */
            /* 2 - placeholder space for pulled in button */
            &.dropdown {
                .pullin-space {
                    display: inline-block; /* 1 */
                    padding-right: 35px; /* 2 */
                }

                .btn-dropdown {
                    border-width: 0;
                    color: inherit;

                    &:hover {
                        color: inherit;
                        background-color: rgba(225, 0, 0, 1);
                    }
                }

                .dropdown-header {
                    overflow: hidden;
                    padding: 5px 25px;
                    color: #e4b9ba;

                    &:before,
                    &:after {
                        content: '';
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 1px;
                        vertical-align: middle;
                        border-bottom: 1px #c05d5d solid;
                    }

                    &:before {
                        left: -0.5em;
                        margin: 0 0 0 -100%;
                    }

                    &:after {
                        left: 0.5em;
                        margin: 0 -100% 0 0;
                    }
                }

                &:hover {
                    .navbar--submenu {
                        display: block;
                    }

                    .btn-dropdown {
                        background: #ce1616;
                    }

                    .caret {
                        transform: rotate(-180deg);
                    }
                }

                .divider {
                    background-color: #c05d5d;
                }
            }
        }

        .navbar--link {
            padding: 15px 25px;
            border-radius: 0;
            color: @mainmenu-textcolor;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            white-space: nowrap;

            &:link,
            &:visited {
                color: @mainmenu-textcolor;
            }

            &:hover,
            &:focus {
                background-color: @mainmenu-bg;
                color: @mainmenu-textcolor;
            }
        }
    }

    /* dropdown menu and items */
    .navbar--submenu {
        margin: 0;
        padding: 10px 0;
        border-width: 0;
        border-radius: 0 0 @mainmenu-radius @mainmenu-radius;
        color: @mainmenu-textcolor;
        background-color: @mainmenu-bg;
        font-size: 12px;

        .navbar--submenulink {
            display: block;
            padding: 5px 25px;
            color: @mainmenu-textcolor;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover,
            &:focus {
                background: #bd1915;
                color: inherit;
            }
        }
    }

    /* third level */
    .dropdown-menu .navbar--submenu {
        padding-top: 0;
    }
    .dropdown-menu .navbar--submenu .navbar--submenulink {
        padding-left: 35px;
        color: #eea5a5;
        text-transform: none;
        font-weight: normal;
    }

}

/* uncomment if main menu doesn't fit one line on small screens */
/*@media (max-width: @screen-sm-max) {

    .navbar-bossmain {

        .navbar--list .navbar--link {
            padding: 15px 17px;
        }

        .navbar--item:last-child .dropdown-menu {
            left: auto;
            right: 0;
            float: right;
        }

    }

}*/

/* navbar-bossmain end */


/* local navigation */

.local-nav {
    background: #FFF;

    .nav-justified {
        display: table;

        &:before,
        &:after {
            content: none;
        }

    }


    .nav--item {
        border-bottom: solid 8px transparent;
        vertical-align: middle;
        transition: all 0.3s ease-in-out;

        &.active,
        &:hover,
        &:focus {
            background-color: transparent;
            border-color: #cc0000;
        }

    }

    .nav--link {
        display: block;
        border-radius: 0;
        padding: 25px 20px 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        
        &:hover,
        &:focus {
            background-color: transparent;
        }

    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background-color: inherit;
        color: inherit;
    }

}
.fixed-local-nav .local-nav {
    position: fixed;
    z-index: @zindex-navbar;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

    .nav--item {
        border-bottom-width: 5px;
    }

    .nav--link {
        padding: 20px 20px 15px;
    }

}

@media (max-width: @screen-sm-max) {
    .local-nav {
        
        .nav--item {
            border-bottom-width: 3px;
        }

        .nav--link {
            padding: 15px 15px 10px;
            font-size: @font-size-small;
        }

    }

    .fixed-local-nav .local-nav {

        .nav--item {
            border-bottom-width: 3px;
        }

        .nav--link {
            padding: 15px 15px 10px;
            font-size: @font-size-small;
        }

    }

}

@media (max-width: @screen-xs-max) {

    /* 1 - to override inline style added by script */
    .fixed-local-nav,
    .hold {
        height: auto !important; /* 1 */
    }
    
    .fixed-local-nav .local-nav {
        position: static !important; /* 1 */
    }

    .local-nav {
        text-align: center;

        .nav-justified {
            display: block;
        }

        .nav--item {
            display: inline-block;
        }

    }
}
/* local navigation end */

/* offscreen menu */

.navmenu-accordeon {
    border-color: #eee;
    
    .navmenu--item {
        border-bottom: 2px solid #f3f3f3;

        &.open {
            border-bottom: none;
        }

    }


    .navmenu--link {
        display: inline-block;
        width: 100%;
        padding: 15px 25px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        transition: color 0.2s;

        &:hover,
        &:focus {
            background-color: transparent;
            color: @brand-primary-bright;
            transition-duration: 0;
        }
    }

    .open .navmenu--link,
    .open .navmenu--link:hover,
    .open .navmenu--link:focus {
        background-color: transparent;
    }
    
    .open > .navmenu--submenu {
        background-color: #f8f8f8;
        box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
    }

    .pullin-space {
        padding-right: 56px;
        z-index: 0;
    }

    .navmenu--submenu {
        padding: 0;
    }

    .navmenu--submenuitem {
        border-bottom: 1px solid #e5e5e5;
    }

    .navmenu--submenuitem:last-child {
        border-bottom: none;
    }

    .divider {
        margin: -1px 0 0;
        background-color: #ccc;
    }

    .dropdown-header {
        padding: 10px 25px;
    }

    .navmenu--submenulink {
        display: block;
        padding: 10px 25px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        
        &:hover,
        &:focus {
            background-image: none;
            background-color: rgba(0,0,0,0.05);
            color: @brand-primary-bright;
        }

    }

    .navmenu--submenuitem.dropdown-header:first-child,
    .navmenu--submenuitem:first-child > .navmenu--submenulink {
        padding-top: 25px;
    }

    .navmenu--submenuitem:last-child > .navmenu--submenulink {
        padding-bottom: 25px;
    }

    .navmenu--third-level {
        padding: 0;
        
        .navmenu--submenuitem {
            border: none;
        }
        
        /* increased specifity. TODO: refactor this selectors */
        .navmenu--submenulink.navmenu--submenulink {
            padding: 5px 25px 5px 35px;
            text-transform: none;
            font-weight: normal;
            color: #696969;
        }

    }


    /* Firefox has a bug when .btn-toggler is not clickable when .pullin-object has width:0 and height:0 */
    .pullin-object {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 10px;
        top: 9px;

        .btn-toggler {
            right: 0;
            bottom: 0;
        }

    }

}

.navbar-close {
    display: block;
    width: 100%;
    height: 65px;
    padding: 10px 25px;
    border: none;
    border-bottom: 2px solid #f3f3f3;
    color: @brand-primary-bright;
    background: transparent;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s;
    
    &:hover,
    &:focus {
        color: @brand-primary-dark;
        transition-duration: 0;
    }

    .i {
        width: 10px;
        height: 10px;
        vertical-align: baseline;
    }
}

.btn-toggler {
    display: inline-block;
    border-width: 0;
    width: 36px;
    height: 36px;
    padding: 10px;
    background-color: @brand-primary-bright;
    color: #FFF;
    transition: background-color 0.2s;

    &:hover,
    &:focus {
        background-color: @brand-primary-dark;
        transition-duration: 0;
    }

    .i {
        width: 16px;
        height: 16px;
        vertical-align: top;
        display: block;
        pointer-events: none;
    }
}

.btn-toggler .btn-toggler--when-opened {
    display: none;
}

/* when dropdown open */
.open .btn-toggler--when-closed {
    display: none;
}
.open .btn-toggler--when-opened {
    display: block;
}
/* offscreen menu end */