.i-adn,
.i-adn:before {
	width: 14px;
	height: 14px;
	background-position: 0 0;
}

.i-align-center,
.i-align-center:before {
	width: 14px;
	height: 14px;
	background-position: -15px 0;
}

.i-align-justify,
.i-align-justify:before {
	width: 14px;
	height: 14px;
	background-position: -30px 0;
}

.i-align-left,
.i-align-left:before {
	width: 14px;
	height: 14px;
	background-position: -45px 0;
}

.i-align-right,
.i-align-right:before {
	width: 14px;
	height: 14px;
	background-position: -60px 0;
}

.i-list,
.i-list:before {
	width: 14px;
	height: 14px;
	background-position: -75px 0;
}

.i-newtab,
.i-newtab:before {
	width: 14px;
	height: 14px;
	background-position: -90px 0;
}

.i-adn, .i-align-center, .i-align-justify, .i-align-left, .i-align-right, .i-list, .i-newtab {
	background-size: 105px 15px;
}

.no-svg .i-adn, .no-svg .i-align-center, .no-svg .i-align-justify, .no-svg .i-align-left, .no-svg .i-align-right, .no-svg .i-list, .no-svg .i-newtab {
	background-image: url("../icons/icons-sprite.png");
}

.i-adn-large,
.i-adn-large:before {
	width: 28px;
	height: 28px;
	background-position: 0 0;
}

.i-align-center-large,
.i-align-center-large:before {
	width: 28px;
	height: 28px;
	background-position: -30px 0;
}

.i-align-justify-large,
.i-align-justify-large:before {
	width: 28px;
	height: 28px;
	background-position: -60px 0;
}

.i-align-left-large,
.i-align-left-large:before {
	width: 28px;
	height: 28px;
	background-position: -90px 0;
}

.i-align-right-large,
.i-align-right-large:before {
	width: 28px;
	height: 28px;
	background-position: -120px 0;
}

.i-list-large,
.i-list-large:before {
	width: 28px;
	height: 28px;
	background-position: -150px 0;
}

.i-newtab-large,
.i-newtab-large:before {
	width: 28px;
	height: 28px;
	background-position: -180px 0;
}

.i-adn-large, .i-align-center-large, .i-align-justify-large, .i-align-left-large, .i-align-right-large, .i-list-large, .i-newtab-large {
	background-size: 210px 30px;
}

.no-svg .i-adn-large, .no-svg .i-align-center-large, .no-svg .i-align-justify-large, .no-svg .i-align-left-large, .no-svg .i-align-right-large, .no-svg .i-list-large, .no-svg .i-newtab-large {
	background-image: url("../icons/icons-sprite-large.png");
}

.svg .i-adn, .svg .i-align-center, .svg .i-align-justify, .svg .i-align-left, .svg .i-align-right, .svg .i-list, .svg .i-newtab, .svg .i-adn-large, .svg .i-align-center-large, .svg .i-align-justify-large, .svg .i-align-left-large, .svg .i-align-right-large, .svg .i-list-large, .svg .i-newtab-large {
	background-image: url("../icons/icons-sprite.svg");
}