.i--key,
.i--key:before {
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.i--checkmark,
.i--checkmark:before {
	width: 16px;
	height: 16px;
	background-position: -17px 0;
}

.i--close,
.i--close:before {
	width: 16px;
	height: 16px;
	background-position: -34px 0;
}

.i--enter,
.i--enter:before {
	width: 16px;
	height: 16px;
	background-position: -51px 0;
}

.i--exit,
.i--exit:before {
	width: 16px;
	height: 16px;
	background-position: -68px 0;
}

.i--key2,
.i--key2:before {
	width: 16px;
	height: 16px;
	background-position: -85px 0;
}

.i--menu,
.i--menu:before {
	width: 16px;
	height: 16px;
	background-position: -102px 0;
}

.i--minus,
.i--minus:before {
	width: 16px;
	height: 16px;
	background-position: -119px 0;
}

.i--plus,
.i--plus:before {
	width: 16px;
	height: 16px;
	background-position: -136px 0;
}

.i--change-notification-number,
.i--change-notification-number:before {
	width: 25px;
	height: 25px;
	background-position: -153px 0;
}

.i--change-us-number,
.i--change-us-number:before {
	width: 25px;
	height: 25px;
	background-position: -179px 0;
}

.i--chat,
.i--chat:before {
	width: 25px;
	height: 25px;
	background-position: -205px 0;
}

.i--add-number,
.i--add-number:before {
	width: 25px;
	height: 25px;
	background-position: -231px 0;
}

.i--clear,
.i--clear:before {
	width: 25px;
	height: 25px;
	background-position: -257px 0;
}

.i--autorecharge,
.i--autorecharge:before {
	width: 25px;
	height: 25px;
	background-position: -283px 0;
}

.i--collapse,
.i--collapse:before {
	width: 25px;
	height: 25px;
	background-position: -309px 0;
}

.i--currency,
.i--currency:before {
	width: 25px;
	height: 25px;
	background-position: -335px 0;
}

.i--destination,
.i--destination:before {
	width: 25px;
	height: 25px;
	background-position: -361px 0;
}

.i--domestic-airtime-top-up,
.i--domestic-airtime-top-up:before {
	width: 25px;
	height: 25px;
	background-position: -387px 0;
}

.i--download-the-app,
.i--download-the-app:before {
	width: 25px;
	height: 25px;
	background-position: -413px 0;
}

.i--email-alt,
.i--email-alt:before {
	width: 25px;
	height: 25px;
	background-position: -439px 0;
}

.i--email,
.i--email:before {
	width: 25px;
	height: 25px;
	background-position: -465px 0;
}

.i--balance,
.i--balance:before {
	width: 25px;
	height: 25px;
	background-position: -491px 0;
}

.i--bill-pay,
.i--bill-pay:before {
	width: 25px;
	height: 25px;
	background-position: -517px 0;
}

.i--expand,
.i--expand:before {
	width: 25px;
	height: 25px;
	background-position: -543px 0;
}

.i--faqs,
.i--faqs:before {
	width: 25px;
	height: 25px;
	background-position: -569px 0;
}

.i--friends-forever,
.i--friends-forever:before {
	width: 25px;
	height: 25px;
	background-position: -595px 0;
}

.i--info,
.i--info:before {
	width: 25px;
	height: 25px;
	background-position: -621px 0;
}

.i--inter-airtime-top-up,
.i--inter-airtime-top-up:before {
	width: 25px;
	height: 25px;
	background-position: -647px 0;
}

.i--inter-calling,
.i--inter-calling:before {
	width: 25px;
	height: 25px;
	background-position: -673px 0;
}

.i--inter-top-up,
.i--inter-top-up:before {
	width: 25px;
	height: 25px;
	background-position: -699px 0;
}

.i--invalid,
.i--invalid:before {
	width: 25px;
	height: 25px;
	background-position: -725px 0;
}

.i--add-numbers,
.i--add-numbers:before {
	width: 25px;
	height: 25px;
	background-position: -751px 0;
}

.i--box,
.i--box:before {
	width: 25px;
	height: 25px;
	background-position: -777px 0;
}

.i--local-time,
.i--local-time:before {
	width: 25px;
	height: 25px;
	background-position: -803px 0;
}

.i--call-history,
.i--call-history:before {
	width: 25px;
	height: 25px;
	background-position: -829px 0;
}

.i--call-me,
.i--call-me:before {
	width: 25px;
	height: 25px;
	background-position: -855px 0;
}

.i--mobile-top-up,
.i--mobile-top-up:before {
	width: 25px;
	height: 25px;
	background-position: -881px 0;
}

.i--money-transfer,
.i--money-transfer:before {
	width: 25px;
	height: 25px;
	background-position: -907px 0;
}

.i--move-service,
.i--move-service:before {
	width: 25px;
	height: 25px;
	background-position: -933px 0;
}

.i--movie-service,
.i--movie-service:before {
	width: 25px;
	height: 25px;
	background-position: -959px 0;
}

.i--my-account,
.i--my-account:before {
	width: 25px;
	height: 25px;
	background-position: -985px 0;
}

.i--number-to-top-up,
.i--number-to-top-up:before {
	width: 25px;
	height: 25px;
	background-position: -1011px 0;
}

.i--payment-by-check,
.i--payment-by-check:before {
	width: 25px;
	height: 25px;
	background-position: -1037px 0;
}

.i--payment-by-credit-card,
.i--payment-by-credit-card:before {
	width: 25px;
	height: 25px;
	background-position: -1063px 0;
}

.i--phone-number,
.i--phone-number:before {
	width: 25px;
	height: 25px;
	background-position: -1089px 0;
}

.i--call,
.i--call:before {
	width: 25px;
	height: 25px;
	background-position: -1115px 0;
}

.i--prepaid-visa-card,
.i--prepaid-visa-card:before {
	width: 25px;
	height: 25px;
	background-position: -1141px 0;
}

.i--print-virtual-card,
.i--print-virtual-card:before {
	width: 25px;
	height: 25px;
	background-position: -1167px 0;
}

.i--privacy-policy,
.i--privacy-policy:before {
	width: 25px;
	height: 25px;
	background-position: -1193px 0;
}

.i--quick-call,
.i--quick-call:before {
	width: 25px;
	height: 25px;
	background-position: -1219px 0;
}

.i--recent-transactions,
.i--recent-transactions:before {
	width: 25px;
	height: 25px;
	background-position: -1245px 0;
}

.i--redeem-br-card,
.i--redeem-br-card:before {
	width: 25px;
	height: 25px;
	background-position: -1271px 0;
}

.i--security-code,
.i--security-code:before {
	width: 25px;
	height: 25px;
	background-position: -1297px 0;
}

.i--sequrity-code,
.i--sequrity-code:before {
	width: 25px;
	height: 25px;
	background-position: -1323px 0;
}

.i--share-your-number,
.i--share-your-number:before {
	width: 25px;
	height: 25px;
	background-position: -1349px 0;
}

.i--slider-arrow-left,
.i--slider-arrow-left:before {
	width: 25px;
	height: 25px;
	background-position: -1375px 0;
}

.i--slider-arrow-right,
.i--slider-arrow-right:before {
	width: 25px;
	height: 25px;
	background-position: -1401px 0;
}

.i--speed-dial,
.i--speed-dial:before {
	width: 25px;
	height: 25px;
	background-position: -1427px 0;
}

.i--terms-conditions,
.i--terms-conditions:before {
	width: 25px;
	height: 25px;
	background-position: -1453px 0;
}

.i--time,
.i--time:before {
	width: 25px;
	height: 25px;
	background-position: -1479px 0;
}

.i--unlim,
.i--unlim:before {
	width: 25px;
	height: 25px;
	background-position: -1505px 0;
}

.i--valid,
.i--valid:before {
	width: 25px;
	height: 25px;
	background-position: -1531px 0;
}

.i--visa-virtual,
.i--visa-virtual:before {
	width: 25px;
	height: 25px;
	background-position: -1557px 0;
}

.i--key, .i--checkmark, .i--close, .i--enter, .i--exit, .i--key2, .i--menu, .i--minus, .i--plus, .i--change-notification-number, .i--change-us-number, .i--chat, .i--add-number, .i--clear, .i--autorecharge, .i--collapse, .i--currency, .i--destination, .i--domestic-airtime-top-up, .i--download-the-app, .i--email-alt, .i--email, .i--balance, .i--bill-pay, .i--expand, .i--faqs, .i--friends-forever, .i--info, .i--inter-airtime-top-up, .i--inter-calling, .i--inter-top-up, .i--invalid, .i--add-numbers, .i--box, .i--local-time, .i--call-history, .i--call-me, .i--mobile-top-up, .i--money-transfer, .i--move-service, .i--movie-service, .i--my-account, .i--number-to-top-up, .i--payment-by-check, .i--payment-by-credit-card, .i--phone-number, .i--call, .i--prepaid-visa-card, .i--print-virtual-card, .i--privacy-policy, .i--quick-call, .i--recent-transactions, .i--redeem-br-card, .i--security-code, .i--sequrity-code, .i--share-your-number, .i--slider-arrow-left, .i--slider-arrow-right, .i--speed-dial, .i--terms-conditions, .i--time, .i--unlim, .i--valid, .i--visa-virtual {
	background-size: 1583px 26px;
}

.no-svg .i--key, .no-svg .i--checkmark, .no-svg .i--close, .no-svg .i--enter, .no-svg .i--exit, .no-svg .i--key2, .no-svg .i--menu, .no-svg .i--minus, .no-svg .i--plus, .no-svg .i--change-notification-number, .no-svg .i--change-us-number, .no-svg .i--chat, .no-svg .i--add-number, .no-svg .i--clear, .no-svg .i--autorecharge, .no-svg .i--collapse, .no-svg .i--currency, .no-svg .i--destination, .no-svg .i--domestic-airtime-top-up, .no-svg .i--download-the-app, .no-svg .i--email-alt, .no-svg .i--email, .no-svg .i--balance, .no-svg .i--bill-pay, .no-svg .i--expand, .no-svg .i--faqs, .no-svg .i--friends-forever, .no-svg .i--info, .no-svg .i--inter-airtime-top-up, .no-svg .i--inter-calling, .no-svg .i--inter-top-up, .no-svg .i--invalid, .no-svg .i--add-numbers, .no-svg .i--box, .no-svg .i--local-time, .no-svg .i--call-history, .no-svg .i--call-me, .no-svg .i--mobile-top-up, .no-svg .i--money-transfer, .no-svg .i--move-service, .no-svg .i--movie-service, .no-svg .i--my-account, .no-svg .i--number-to-top-up, .no-svg .i--payment-by-check, .no-svg .i--payment-by-credit-card, .no-svg .i--phone-number, .no-svg .i--call, .no-svg .i--prepaid-visa-card, .no-svg .i--print-virtual-card, .no-svg .i--privacy-policy, .no-svg .i--quick-call, .no-svg .i--recent-transactions, .no-svg .i--redeem-br-card, .no-svg .i--security-code, .no-svg .i--sequrity-code, .no-svg .i--share-your-number, .no-svg .i--slider-arrow-left, .no-svg .i--slider-arrow-right, .no-svg .i--speed-dial, .no-svg .i--terms-conditions, .no-svg .i--time, .no-svg .i--unlim, .no-svg .i--valid, .no-svg .i--visa-virtual {
	background-image: url("../icons/icons-sprite.png");
}

.i--key-large,
.i--key-large:before {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}

.i--checkmark-large,
.i--checkmark-large:before {
	width: 32px;
	height: 32px;
	background-position: -34px 0;
}

.i--close-large,
.i--close-large:before {
	width: 32px;
	height: 32px;
	background-position: -68px 0;
}

.i--enter-large,
.i--enter-large:before {
	width: 32px;
	height: 32px;
	background-position: -102px 0;
}

.i--exit-large,
.i--exit-large:before {
	width: 32px;
	height: 32px;
	background-position: -136px 0;
}

.i--key2-large,
.i--key2-large:before {
	width: 32px;
	height: 32px;
	background-position: -170px 0;
}

.i--menu-large,
.i--menu-large:before {
	width: 32px;
	height: 32px;
	background-position: -204px 0;
}

.i--minus-large,
.i--minus-large:before {
	width: 32px;
	height: 32px;
	background-position: -238px 0;
}

.i--plus-large,
.i--plus-large:before {
	width: 32px;
	height: 32px;
	background-position: -272px 0;
}

.i--change-notification-number-large,
.i--change-notification-number-large:before {
	width: 50px;
	height: 50px;
	background-position: -306px 0;
}

.i--change-us-number-large,
.i--change-us-number-large:before {
	width: 50px;
	height: 50px;
	background-position: -358px 0;
}

.i--chat-large,
.i--chat-large:before {
	width: 50px;
	height: 50px;
	background-position: -410px 0;
}

.i--add-number-large,
.i--add-number-large:before {
	width: 50px;
	height: 50px;
	background-position: -462px 0;
}

.i--clear-large,
.i--clear-large:before {
	width: 50px;
	height: 50px;
	background-position: -514px 0;
}

.i--autorecharge-large,
.i--autorecharge-large:before {
	width: 50px;
	height: 50px;
	background-position: -566px 0;
}

.i--collapse-large,
.i--collapse-large:before {
	width: 50px;
	height: 50px;
	background-position: -618px 0;
}

.i--currency-large,
.i--currency-large:before {
	width: 50px;
	height: 50px;
	background-position: -670px 0;
}

.i--destination-large,
.i--destination-large:before {
	width: 50px;
	height: 50px;
	background-position: -722px 0;
}

.i--domestic-airtime-top-up-large,
.i--domestic-airtime-top-up-large:before {
	width: 50px;
	height: 50px;
	background-position: -774px 0;
}

.i--download-the-app-large,
.i--download-the-app-large:before {
	width: 50px;
	height: 50px;
	background-position: -826px 0;
}

.i--email-alt-large,
.i--email-alt-large:before {
	width: 50px;
	height: 50px;
	background-position: -878px 0;
}

.i--email-large,
.i--email-large:before {
	width: 50px;
	height: 50px;
	background-position: -930px 0;
}

.i--balance-large,
.i--balance-large:before {
	width: 50px;
	height: 50px;
	background-position: -982px 0;
}

.i--bill-pay-large,
.i--bill-pay-large:before {
	width: 50px;
	height: 50px;
	background-position: -1034px 0;
}

.i--expand-large,
.i--expand-large:before {
	width: 50px;
	height: 50px;
	background-position: -1086px 0;
}

.i--faqs-large,
.i--faqs-large:before {
	width: 50px;
	height: 50px;
	background-position: -1138px 0;
}

.i--friends-forever-large,
.i--friends-forever-large:before {
	width: 50px;
	height: 50px;
	background-position: -1190px 0;
}

.i--info-large,
.i--info-large:before {
	width: 50px;
	height: 50px;
	background-position: -1242px 0;
}

.i--inter-airtime-top-up-large,
.i--inter-airtime-top-up-large:before {
	width: 50px;
	height: 50px;
	background-position: -1294px 0;
}

.i--inter-calling-large,
.i--inter-calling-large:before {
	width: 50px;
	height: 50px;
	background-position: -1346px 0;
}

.i--inter-top-up-large,
.i--inter-top-up-large:before {
	width: 50px;
	height: 50px;
	background-position: -1398px 0;
}

.i--invalid-large,
.i--invalid-large:before {
	width: 50px;
	height: 50px;
	background-position: -1450px 0;
}

.i--add-numbers-large,
.i--add-numbers-large:before {
	width: 50px;
	height: 50px;
	background-position: -1502px 0;
}

.i--box-large,
.i--box-large:before {
	width: 50px;
	height: 50px;
	background-position: -1554px 0;
}

.i--local-time-large,
.i--local-time-large:before {
	width: 50px;
	height: 50px;
	background-position: -1606px 0;
}

.i--call-history-large,
.i--call-history-large:before {
	width: 50px;
	height: 50px;
	background-position: -1658px 0;
}

.i--call-me-large,
.i--call-me-large:before {
	width: 50px;
	height: 50px;
	background-position: -1710px 0;
}

.i--mobile-top-up-large,
.i--mobile-top-up-large:before {
	width: 50px;
	height: 50px;
	background-position: -1762px 0;
}

.i--money-transfer-large,
.i--money-transfer-large:before {
	width: 50px;
	height: 50px;
	background-position: -1814px 0;
}

.i--move-service-large,
.i--move-service-large:before {
	width: 50px;
	height: 50px;
	background-position: -1866px 0;
}

.i--movie-service-large,
.i--movie-service-large:before {
	width: 50px;
	height: 50px;
	background-position: -1918px 0;
}

.i--my-account-large,
.i--my-account-large:before {
	width: 50px;
	height: 50px;
	background-position: -1970px 0;
}

.i--number-to-top-up-large,
.i--number-to-top-up-large:before {
	width: 50px;
	height: 50px;
	background-position: -2022px 0;
}

.i--payment-by-check-large,
.i--payment-by-check-large:before {
	width: 50px;
	height: 50px;
	background-position: -2074px 0;
}

.i--payment-by-credit-card-large,
.i--payment-by-credit-card-large:before {
	width: 50px;
	height: 50px;
	background-position: -2126px 0;
}

.i--phone-number-large,
.i--phone-number-large:before {
	width: 50px;
	height: 50px;
	background-position: -2178px 0;
}

.i--call-large,
.i--call-large:before {
	width: 50px;
	height: 50px;
	background-position: -2230px 0;
}

.i--prepaid-visa-card-large,
.i--prepaid-visa-card-large:before {
	width: 50px;
	height: 50px;
	background-position: -2282px 0;
}

.i--print-virtual-card-large,
.i--print-virtual-card-large:before {
	width: 50px;
	height: 50px;
	background-position: -2334px 0;
}

.i--privacy-policy-large,
.i--privacy-policy-large:before {
	width: 50px;
	height: 50px;
	background-position: -2386px 0;
}

.i--quick-call-large,
.i--quick-call-large:before {
	width: 50px;
	height: 50px;
	background-position: -2438px 0;
}

.i--recent-transactions-large,
.i--recent-transactions-large:before {
	width: 50px;
	height: 50px;
	background-position: -2490px 0;
}

.i--redeem-br-card-large,
.i--redeem-br-card-large:before {
	width: 50px;
	height: 50px;
	background-position: -2542px 0;
}

.i--security-code-large,
.i--security-code-large:before {
	width: 50px;
	height: 50px;
	background-position: -2594px 0;
}

.i--sequrity-code-large,
.i--sequrity-code-large:before {
	width: 50px;
	height: 50px;
	background-position: -2646px 0;
}

.i--share-your-number-large,
.i--share-your-number-large:before {
	width: 50px;
	height: 50px;
	background-position: -2698px 0;
}

.i--slider-arrow-left-large,
.i--slider-arrow-left-large:before {
	width: 50px;
	height: 50px;
	background-position: -2750px 0;
}

.i--slider-arrow-right-large,
.i--slider-arrow-right-large:before {
	width: 50px;
	height: 50px;
	background-position: -2802px 0;
}

.i--speed-dial-large,
.i--speed-dial-large:before {
	width: 50px;
	height: 50px;
	background-position: -2854px 0;
}

.i--terms-conditions-large,
.i--terms-conditions-large:before {
	width: 50px;
	height: 50px;
	background-position: -2906px 0;
}

.i--time-large,
.i--time-large:before {
	width: 50px;
	height: 50px;
	background-position: -2958px 0;
}

.i--unlim-large,
.i--unlim-large:before {
	width: 50px;
	height: 50px;
	background-position: -3010px 0;
}

.i--valid-large,
.i--valid-large:before {
	width: 50px;
	height: 50px;
	background-position: -3062px 0;
}

.i--visa-virtual-large,
.i--visa-virtual-large:before {
	width: 50px;
	height: 50px;
	background-position: -3114px 0;
}

.i--key-large, .i--checkmark-large, .i--close-large, .i--enter-large, .i--exit-large, .i--key2-large, .i--menu-large, .i--minus-large, .i--plus-large, .i--change-notification-number-large, .i--change-us-number-large, .i--chat-large, .i--add-number-large, .i--clear-large, .i--autorecharge-large, .i--collapse-large, .i--currency-large, .i--destination-large, .i--domestic-airtime-top-up-large, .i--download-the-app-large, .i--email-alt-large, .i--email-large, .i--balance-large, .i--bill-pay-large, .i--expand-large, .i--faqs-large, .i--friends-forever-large, .i--info-large, .i--inter-airtime-top-up-large, .i--inter-calling-large, .i--inter-top-up-large, .i--invalid-large, .i--add-numbers-large, .i--box-large, .i--local-time-large, .i--call-history-large, .i--call-me-large, .i--mobile-top-up-large, .i--money-transfer-large, .i--move-service-large, .i--movie-service-large, .i--my-account-large, .i--number-to-top-up-large, .i--payment-by-check-large, .i--payment-by-credit-card-large, .i--phone-number-large, .i--call-large, .i--prepaid-visa-card-large, .i--print-virtual-card-large, .i--privacy-policy-large, .i--quick-call-large, .i--recent-transactions-large, .i--redeem-br-card-large, .i--security-code-large, .i--sequrity-code-large, .i--share-your-number-large, .i--slider-arrow-left-large, .i--slider-arrow-right-large, .i--speed-dial-large, .i--terms-conditions-large, .i--time-large, .i--unlim-large, .i--valid-large, .i--visa-virtual-large {
	background-size: 3166px 52px;
}

.no-svg .i--key-large, .no-svg .i--checkmark-large, .no-svg .i--close-large, .no-svg .i--enter-large, .no-svg .i--exit-large, .no-svg .i--key2-large, .no-svg .i--menu-large, .no-svg .i--minus-large, .no-svg .i--plus-large, .no-svg .i--change-notification-number-large, .no-svg .i--change-us-number-large, .no-svg .i--chat-large, .no-svg .i--add-number-large, .no-svg .i--clear-large, .no-svg .i--autorecharge-large, .no-svg .i--collapse-large, .no-svg .i--currency-large, .no-svg .i--destination-large, .no-svg .i--domestic-airtime-top-up-large, .no-svg .i--download-the-app-large, .no-svg .i--email-alt-large, .no-svg .i--email-large, .no-svg .i--balance-large, .no-svg .i--bill-pay-large, .no-svg .i--expand-large, .no-svg .i--faqs-large, .no-svg .i--friends-forever-large, .no-svg .i--info-large, .no-svg .i--inter-airtime-top-up-large, .no-svg .i--inter-calling-large, .no-svg .i--inter-top-up-large, .no-svg .i--invalid-large, .no-svg .i--add-numbers-large, .no-svg .i--box-large, .no-svg .i--local-time-large, .no-svg .i--call-history-large, .no-svg .i--call-me-large, .no-svg .i--mobile-top-up-large, .no-svg .i--money-transfer-large, .no-svg .i--move-service-large, .no-svg .i--movie-service-large, .no-svg .i--my-account-large, .no-svg .i--number-to-top-up-large, .no-svg .i--payment-by-check-large, .no-svg .i--payment-by-credit-card-large, .no-svg .i--phone-number-large, .no-svg .i--call-large, .no-svg .i--prepaid-visa-card-large, .no-svg .i--print-virtual-card-large, .no-svg .i--privacy-policy-large, .no-svg .i--quick-call-large, .no-svg .i--recent-transactions-large, .no-svg .i--redeem-br-card-large, .no-svg .i--security-code-large, .no-svg .i--sequrity-code-large, .no-svg .i--share-your-number-large, .no-svg .i--slider-arrow-left-large, .no-svg .i--slider-arrow-right-large, .no-svg .i--speed-dial-large, .no-svg .i--terms-conditions-large, .no-svg .i--time-large, .no-svg .i--unlim-large, .no-svg .i--valid-large, .no-svg .i--visa-virtual-large {
	background-image: url("../icons/icons-sprite-large.png");
}

.svg .i--key, .svg .i--checkmark, .svg .i--close, .svg .i--enter, .svg .i--exit, .svg .i--key2, .svg .i--menu, .svg .i--minus, .svg .i--plus, .svg .i--change-notification-number, .svg .i--change-us-number, .svg .i--chat, .svg .i--add-number, .svg .i--clear, .svg .i--autorecharge, .svg .i--collapse, .svg .i--currency, .svg .i--destination, .svg .i--domestic-airtime-top-up, .svg .i--download-the-app, .svg .i--email-alt, .svg .i--email, .svg .i--balance, .svg .i--bill-pay, .svg .i--expand, .svg .i--faqs, .svg .i--friends-forever, .svg .i--info, .svg .i--inter-airtime-top-up, .svg .i--inter-calling, .svg .i--inter-top-up, .svg .i--invalid, .svg .i--add-numbers, .svg .i--box, .svg .i--local-time, .svg .i--call-history, .svg .i--call-me, .svg .i--mobile-top-up, .svg .i--money-transfer, .svg .i--move-service, .svg .i--movie-service, .svg .i--my-account, .svg .i--number-to-top-up, .svg .i--payment-by-check, .svg .i--payment-by-credit-card, .svg .i--phone-number, .svg .i--call, .svg .i--prepaid-visa-card, .svg .i--print-virtual-card, .svg .i--privacy-policy, .svg .i--quick-call, .svg .i--recent-transactions, .svg .i--redeem-br-card, .svg .i--security-code, .svg .i--sequrity-code, .svg .i--share-your-number, .svg .i--slider-arrow-left, .svg .i--slider-arrow-right, .svg .i--speed-dial, .svg .i--terms-conditions, .svg .i--time, .svg .i--unlim, .svg .i--valid, .svg .i--visa-virtual, .svg .i--key-large, .svg .i--checkmark-large, .svg .i--close-large, .svg .i--enter-large, .svg .i--exit-large, .svg .i--key2-large, .svg .i--menu-large, .svg .i--minus-large, .svg .i--plus-large, .svg .i--change-notification-number-large, .svg .i--change-us-number-large, .svg .i--chat-large, .svg .i--add-number-large, .svg .i--clear-large, .svg .i--autorecharge-large, .svg .i--collapse-large, .svg .i--currency-large, .svg .i--destination-large, .svg .i--domestic-airtime-top-up-large, .svg .i--download-the-app-large, .svg .i--email-alt-large, .svg .i--email-large, .svg .i--balance-large, .svg .i--bill-pay-large, .svg .i--expand-large, .svg .i--faqs-large, .svg .i--friends-forever-large, .svg .i--info-large, .svg .i--inter-airtime-top-up-large, .svg .i--inter-calling-large, .svg .i--inter-top-up-large, .svg .i--invalid-large, .svg .i--add-numbers-large, .svg .i--box-large, .svg .i--local-time-large, .svg .i--call-history-large, .svg .i--call-me-large, .svg .i--mobile-top-up-large, .svg .i--money-transfer-large, .svg .i--move-service-large, .svg .i--movie-service-large, .svg .i--my-account-large, .svg .i--number-to-top-up-large, .svg .i--payment-by-check-large, .svg .i--payment-by-credit-card-large, .svg .i--phone-number-large, .svg .i--call-large, .svg .i--prepaid-visa-card-large, .svg .i--print-virtual-card-large, .svg .i--privacy-policy-large, .svg .i--quick-call-large, .svg .i--recent-transactions-large, .svg .i--redeem-br-card-large, .svg .i--security-code-large, .svg .i--sequrity-code-large, .svg .i--share-your-number-large, .svg .i--slider-arrow-left-large, .svg .i--slider-arrow-right-large, .svg .i--speed-dial-large, .svg .i--terms-conditions-large, .svg .i--time-large, .svg .i--unlim-large, .svg .i--valid-large, .svg .i--visa-virtual-large {
	background-image: url("../icons/icons-sprite.svg");
}