---
layout: "default"
title: "Menu Pop-up"
---
<div class="container">
    <h1>Pop-up example</h1>

    <nav class="nav-container">
        <header class="navheader">

        </header>
        <ul class="menutree">
            <li class="menutree-item">
                <a href="" class="menutree-link">
                    <span class="menutree-text">Services</span>
                </a>
                <button class="btn-menucollapse" type="button" data-toggle="collapse" data-target="#collapseServices" aria-expanded="true" aria-controls="collapseServices">
                    <span class="btn-menucollapse-inner"><span class="caret"></span></span>
                </button>
                <div id="collapseServices" class="menutree-collapse collapse in">
                    <ul class="menutiles" id="servicesTiles">
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--inter-calling" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--inter-calling"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">International Calling</span>
                            </a>
                            <button class="btn-tilecollapse" type="button" data-target="#collapseIntCalling" data-toggle="collapse" data-parent="#servicesTiles" aria-expanded="true" aria-controls="collapseIntCalling">
                                <span class="caret"></span>
                            </button>
                            <div id="collapseIntCalling" class="menutiles-collapse collapse in">
                                <div class="menutiles-collapse-inner">
                                    <ul class="list-inline">
                                        <li><a href="" class="menutiles-sublink">Add Funds »</a></li>
                                        <li><a href="" class="menutiles-sublink">Redeem Card »</a></li>
                                        <li><a href="" class="menutiles-sublink">Unlimited Plan »</a></li>
                                        <li><a href="" class="menutiles-sublink">Web Dialler »</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--inter-airtime-top-up" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--inter-airtime-top-up"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">International Mobile Top Up</span>
                            </a>
                            <button class="btn-tilecollapse collapsed" type="button" data-target="#collapseIMTU" data-toggle="collapse" data-parent="#servicesTiles" aria-expanded="false" aria-controls="collapseIMTU">
                                <span class="caret"></span>
                            </button>
                            <div id="collapseIMTU" class="menutiles-collapse collapse">
                                <div class="menutiles-collapse-inner">
                                    <ul class="list-inline">
                                        <li><a href="" class="menutiles-sublink">Redeem Card »</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--domestic-airtime-top-up" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--domestic-airtime-top-up"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">Domestic Mobile Top Up</span>
                            </a>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--money-transfer" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--money-transfer"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">Money Transfer</span>
                            </a>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--call-me" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--call-me"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">Call Me</span>
                            </a>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--bill-pay" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--bill-pay"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">Bill Pay</span>
                            </a>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--gift" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--gift"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">eGift</span>
                            </a>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--international-gift" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--international-gift"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">International eGifts</span>
                            </a>
                        </li>
                        <li class="menutiles-item panel">
                            <a href="" class="menutiles-link">
                                <span class="menutiles-icon">
                                    <svg class="i i--friends-forever" xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i--friends-forever"></use>
                                    </svg>
                                </span>
                                <span class="menutiles-text">Friends Forever</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menutree-item">
                <a href="" class="menutree-link">
                    <span class="menutree-text">Rates</span>
                </a>
            </li>
            <li class="menutree-item">
                <a href="" class="menutree-link">
                    <span class="menutree-text">Mobile App</span>
                </a>
                <button class="btn-menucollapse collapsed" type="button" data-toggle="collapse" data-target="#collapseApp" aria-expanded="false" aria-controls="collapseApp">
                    <span class="btn-menucollapse-inner"><span class="caret"></span></span>
                </button>
                <div id="collapseApp" class="menutree-collapse collapse">
                    <div class="menutree-collapse-body text-center">
                        <a href="https://itunes.apple.com/us/app/boss-revolution-simple-easy/id586745548?ls=1&amp;mt=8" target="_blank" class="btn btn-appstore"></a>
                    </div>
                </div>
            </li>
            <li class="menutree-item">
                <a href="" class="menutree-link">
                    <span class="menutree-text">Support</span>
                </a>
            </li>
        </ul>
        <aside class="menuads">

        </aside>
    </nav>
</div>
